.row
  .col-md-6.offset-md-3
    = bootstrap_form_with model: @carrier, local: true do |f|
      = f.text_field :name, placeholder: 'Name'
      = f.text_field :gateway_address, placeholder: '@name.com'
      = f.primary 'Save'
