Dear #{@passenger.name},

Hello and welcome to Special Transportation. A link to the brochure, where our terms and policies are outlined, is included below.
You can click on the link or copy and paste it directly into your browser.

=link_to passenger_url('brochure'), passenger_url('brochure')

This is an automated email related to your UMass Amherst Transit Account. If you have any questions, please call us at
(413)545-2086, email us at stspv@umass.edu, or visit our website at www.umass.edu/transportation/special-transportation
