Dear #{@passenger.name},

Your account with the Special Transportation Service has been created but is still pending. You can receive rides until #{3.business_days.after(Time.now).strftime("%m/%d/%Y")}.
Once your account has been activated, we will notify you of the date until which you can receive rides. Before using our service, please read the brochure at our website at this link:

=link_to passenger_url('brochure'), passenger_url('brochure')

This is an automated email related to your UMass Amherst Transit Account.
For more information, call us at (413)545-2086, email us at stspv@umass.edu, or visit our website at www.umass.edu/transportation/special-transportation
