Dear #{@passenger.name},

Our records indicate that you only needed rides until #{Time.now.strftime("%m/%d/%Y")}, so we are archiving your account.

This is an automated email related to your UMass Amherst Transit Account.
For more information, call us at (413)545-2086, email us at stspv@umass.edu, or visit our website at www.umass.edu/transportation/special-transportation
