Dear #{@passenger.name},

Your account with the Special Transportation Service has been activated. You can receive rides #{@passenger.rides_expire ? ('until ' + @passenger.rides_expire.strftime("%m/%d/%Y")) : 'permanently'}.
A link to the brochure, where our terms and policies are outlined, is included below.

=link_to passenger_url('brochure'), passenger_url('brochure')

This is an automated email related to your UMass Amherst Transit Account.
For more information, call us at (413)545-2086, email us at stspv@umass.edu, or visit our website at www.umass.edu/transportation/special-transportation
