%p
  Your #{t 'department.name'} account has been activated.
  You can receive rides until
  = succeed '.' do
    = @passenger.rides_expire ? @passenger.rides_expire.strftime('%m/%d/%Y') : 'further notice'
%p
  A link to the brochure, where our terms and policies are outlined, is included below.
%p= link_to nil, brochure_passengers_url
