Dear #{@passenger.name},

Our records indicate that you only needed rides until #{Time.now.strftime("%m/%d/%Y")}, so we are archiving your account.
If you do still need our service feel free to call us at (413) 545-2086.
