Dear #{@passenger.name},

Hello and welcome to Special Transportation. A link to the brochure, where our terms and policies are outlined, is included below.
You can click on the link or copy and paste it directly into your browser.

=link_to passenger_url('brochure'), passenger_url('brochure')
