.row
  .col-lg-6
    %h2.sr-only Hours
    %table.table
      %caption.h5.text-center Semester Hours
      %thead
        %tr
          %th{ 'aria-label': 'Days' }
          %th Dispatch
          %th Van
      %tbody
        %tr
          %th{ scope: 'row' } Monday Through Friday
          %td 7:00 a.m. to 6:00 p.m.
          %td 7:15 a.m. to 10:15 p.m.
        %tr
          %th{ scope: 'row' } Saturday
          %td none
          %td 10:00 a.m. to 9:30 p.m.
        %tr
          %th{ scope: 'row' } Sunday
          %td none
          %td 10:00 a.m. to 9:30 p.m.
  .col-lg-6
    %table.table
      %caption.h5.text-center
        Reduced Service Hours
        %small.text-muted (Holidays, Summer, Intersession)
      %thead
        %tr
          %th{ 'aria-label': 'Days' }
          %th Dispatch
          %th Van
      %tbody
        %tr
          %th{ scope: 'row' } Monday Through Friday
          %td 8:00 a.m. to 5:00 p.m.
          %td 7:15 a.m. to 7:15 p.m.
        %tr
          %th{ scope: 'row' } Saturday
          %td none
          %td 11:15 a.m. to 4:45 p.m.
        %tr
          %th{ scope: 'row' } Sunday
          %td closed
          %td closed
