#check-existing.modal{ role: 'dialog', tabindex: '-1' }
  .modal-dialog{ role: 'document' }
    .modal-content
      .modal-header
        .modal-title
          %h5 Existing Passenger
        %button.btn-close{ data: { bs_dismiss: 'modal' }, aria: { label: 'Close' } }
      .modal-body
        %p A passenger already exists for this Spire ID. Edit that passenger?
      .modal-footer
        %button.btn.btn-secondary{ data: { bs_dismiss: 'modal' }, aria: { label: 'Close' } }
          Add new passenger
        = link_to 'Edit existing passenger', edit_passenger_url(@passenger), class: 'btn btn-primary'
