%h2 Policies
%ul
  %li
    Passengers are allowed to bring two reasonably sized, easily controlled
    packages on board. Large items, such as skis, carriages, bikes, etc. will 
    not be permitted on the vans.
  %li
    Passengers are allowed two friends per ride as long as they are going to the
    same destination as the passenger.
  %li
    In the unlikely event of an accident, please remain calm. If you are
    injured, please notify the driver immediately. SpecTrans policy requires
    that the driver remain at the scene until the police and a staff member have
    arrived and cleared the scene. We will not be able to bring you to your
    destination until another van can be sent out to continue the ride.
  %li
    Animals are not allowed aboard the vans, with the exception of certified
    service animals.
  %li
    Our lifts are an extremely safe way to board or exit a van, but proper lift
    use requires cooperation between the driver and the passenger. Once the lift
    is ready for you to board, you should position yourself on the lift with
    your back facing the van. Please lock your wheels or turn the power off to
    prevent any movement of the chair while the lift is in motion.
  %li 
    As a passenger in SpecTrans vans you are required, by Massachusetts State
    Law: MGL Part 1, Title XIV, Chapter 90, Section 13A, to have your seat belt
    fastened at all times while the vehicle is in motion.
  %li 
    Rides from an off-campus location to another off-campus locations are
    limited to two per week and must be after 5:00pm.
  %li 
    Van service is provided whenever possible during inclement weather. In the
    event of a snow or ice storm, however, we will discourage people from using
    our service unless absolutely necessary. If the University delays or cancels
    classes, SpecTrans will assume all rides are cancelled unless you call to
    reschedule.
  %li
    Alcohol is not permitted on the vans under any circumstances. If you try to
    get on a van with any alcoholic substance, the driver will refuse the ride.
