%h1 Temporary Passenger Information
.row
  .col-md-6
    %table.table
      %caption Contact Information
      %thead
      %tbody
        %tr
          %th Phone
          %td 413-545-2086
        %tr
          %th Public Website
          %td= link_to 'www.umass.edu/transportation/special-transportation',
            'https://www.umass.edu/transportation/special-transportation'
        %tr
          %th Email
          %td stspv@umass.edu
.row
  .col-md-6
    %table.table
      %caption Special Transportation Staff
      %thead
      %tbody
        %tr
          %th Supervisors
          %td Ashley Lees &amp; Olivia Anderson
        %tr
          %th Coordinator
          %td Diana Noble
%h2 Hours of Operation
.row
  .col-md-6
    %table.table
      %caption Semester Hours of Operation
      %thead
        %tr
          %th{ 'aria-label': 'Days' }
          %th Dispatch
          %th Van Hours
      %tbody
        %tr
          %th{ scope: 'row'} Monday Through Friday
          %td 7:00 AM to 5:00 PM
          %td 7:15 AM to 8:15 PM
        %tr
          %th{ scope: 'row' } Saturday
          %td closed
          %td 10:00 AM to 8:00 PM
        %tr
          %th{ scope: 'row' } Sunday
          %td closed
          %td 10:00 AM to 8:00 PM
.row
  .col-md-6
    %table.table
      %caption Reducted Service (Holidays, Summer, Intersession) Hours
      %thead
        %tr
          %th{ 'aria-label': 'Days' }
          %th Dispatch
          %th Van Hours
      %tbody
        %tr
          %th{ scope: 'row'} Monday Through Friday
          %td 8:00 AM to 5:00 PM
          %td 7:15 AM to 7:15 PM
        %tr
          %th{ scope: 'row' } Saturday
          %td closed
          %td 11:15 AM to 4:45 PM
        %tr
          %th{ scope: 'row' } Sunday
          %td closed
          %td closed
= render 'policies'
= render 'scheduling_rides_information'
