%h1 Edit Passenger Form

- if @registrant&.active?
  You are already registered for the special transportation service.
  To check your status, please call (413) 545-2086
- else
  = render partial: 'form', locals: { passenger: @passenger }

%p
  = link_to "Back", :back
