%h1= registration_header
- if @registrant.pending?
  = render partial: 'form', locals: { passenger: @passenger }
- else
  Your registration is #{@passenger.active_status}. To edit your profile,
  please call (413) 545-2086
%p
  = link_to 'Back', :back
