%li.page-item{ class: current_page.last? ? 'disabled' : nil }
  = link_to current_page.last? ? '#' : url,
            title: sanitize(t('views.pagination.next')),
            rel: 'next',
            remote: remote,
            class: 'page-link' do
    %i.fa-solid.fa-angle-right
