%section.container.my-3
  %h1 Dispatch Log
  %hr
  .alert.alert-primary
    .text-center
      The dispatch log has been moved to
      = link_to 'umasstransit.org', 'https://umasstransit.org/dispatch_logs'
      (Dispatch -> AVS Dispatch Log).
