$theme-colors: (
  "primary": #881c1c,
  "secondary": #63666a,
  "success": #76881d,
  "danger": #a8431e,
  "warning": #c69214,
  "info": #71b2c9,
  "light": #eeeeee,
  "dark": #333333
);

@import "bootstrap";

@import "datatables.net-bs4/css/dataTables.bootstrap4";
@import "datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4";

@import "font-awesome";
@import "jquery-ui";
@import "log";
@import "passengers";

h1{
  text-align: center;
  margin: 15px 0;
}

.navbar{
  button{
    margin-left: 3px;

    &.navbar-right{
      margin-right: 5px;
    }

    &.current{
      background: $slightly-maroon;
    }
  }
}
th[scope="row"] {
  font-weight: normal;
}

span.yes-glyph {
  color: theme-color("success");
}
span.no-glyph {
  color: theme-color("danger");
}
