$maroon: #881c1c;
$body-bg: $maroon;
$font-family-sans-serif: verdana, arial, helvetica, sans-serif;

$link-color: #000;
@import "bootstrap";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

@import "datatables.net-fixedheader-bs/css/fixedHeader.bootstrap";

@import "jquery-ui";
@import "log";
@import "mobility_devices";
@import "passengers";
@import "users";

h1{
  text-align: center;
  margin: 15px 0;
}

label {
  display: block;
}

#outer-container {
  background: theme-color("light");
}

span.yes-glyph {
  color: theme-color("success");
}
span.no-glyph {
  color: theme-color("danger");
}
