$theme-colors: (
  "primary": #881c1c,
  "secondary": #63666a,
  "success": #76881d,
  "danger": #a8431e,
  "warning": #c69214,
  "info": #71b2c9,
  "light": #eeeeee,
  "dark": #333333
);

@import "bootstrap";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

@import "datatables.net-bs4/css/dataTables.bootstrap4";
@import "datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4";

@import "jquery-ui";
@import "log";
@import "passengers";

h1{
  text-align: center;
  margin: 15px 0;
}

span.yes-glyph {
  color: theme-color("success");
}
span.no-glyph {
  color: theme-color("danger");
}
