/*
 *= require datatables.net-dt/css/jquery.dataTables.css
 */

table.dataTable thead {
  .sorting {
    background-image: url(asset_path('datatables.net-dt/images/sort_both.png'));
  }
  .sorting_asc {
    background-image: url(asset_path('datatables.net-dt/images/sort_asc.png'));
  }
  .sorting_desc {
    background-image: url(asset_path('datatables.net-dt/images/sort_desc.png'));
  }
  .sorting_asc_disabled {
    background-image: url(asset_path('datatables.net-dt/images/sort_asc_disabled.png'));
  }
  .sorting_desc_disabled {
    background-image: url(asset_path('datatables.net-dt/images/sort_desc_disabled.png'));
  }
}
