// This overrides the jquery.dataTables.css background arrows so that the 
// background arrows from dataTables.bootstrap.css can shine through.

table.dataTable thead {
  .sorting {
    background-image: none;
  }
  .sorting_asc {
    background-image: none;
  }
  .sorting_desc {
    background-image: none;
  }
  .sorting_asc_disabled {
    background-image: none;
  }
  .sorting_desc_disabled {
    background-image: none;
  }
}
