// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$maroon: #881c1c;
$slightly-maroon: #eacccc;

body {
  background-color: $maroon;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1{
  text-align: center;
  margin: 15px 0;
}

.navbar{
  button{
    margin-left: 3px;

    &.navbar-right{
      margin-right: 5px;
    }

    &.current{
      background: $slightly-maroon;
    }
  }
}

.panel{
  margin: 1em;
  border: 2px solid grey;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

strong.filter_description_emphasis {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  background-color: #e0dbfa;
  text-decoration: underline;
  margin-right: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
  .radioDiv {
   width:200px;
  }
  .leftRadio {
   float:left;
  }
  .rightRadio {
   float:right;
  }
}

table#key, table#passengers {
  .will_expire_soon {
    background-color: #fcf2c0;
  }
  .expired_within_grace_period {
    background-color: #ee9b9b;
  }
  .inactive {
    background-color: #cfc9c9;
  }
  .no_note {
    background-color: #90C3D4;
  }
  .has_been_overridden{
    background-color: #E898FF;
  }
}

.checkbox-inline.key_position {
  float: right;
}

.passenger-filters{
  display: inline;
  input{
    margin-right: 15px;
  }
}

table#key {
  td {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    font-size: 13px;
    padding: 5px;
  }
}

table#passengers{

  th {
    font-size: 20px;
    padding: 5px 50px 5px 0;

    &.yesno {
      text-align: center;
      padding: 5px 25px 5px 25px;
    }
  }

  td {
    font-size: 15px;
    padding: 5px 5px 5px 0;
    &.no,&.yes{
      text-align: center;
    }
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
