table#key, table#passengers {
  .expires-soon {
    background-color: #fffd8a;
  }
  .needs-note {
    background-color: #ffd1a3;
  }
  .expired {
    background-color: #db7d7d;
  }
}

.passenger-filters input[type='submit'] {
  margin-right: $spacer;
}

.hide-view {
  display: none;
}

#brochure {
  .table caption {
    caption-side: top;
    text-align: center;
    font-weight: bolder;
    color: inherit;
  }
}
