// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
strong.filter_description_emphasis {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  background-color: #e0dbfa;
  text-decoration: underline;
}
p.filter_description_color {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 19px;
  line-height: 18px;
  color: #25da6d;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
  .radioDiv {
   width:200px;
  }
  .leftRadio {
   float:left;
  }
  .rightRadio {
   float:right;
  }
}
table#key, table#passengers {
  .will_expire_soon {
    background-color: #fcf2c0;
  }
  .expired_within_grace_period {
    background-color: #ee9b9b;
  }
  .no_note {
    background-color: #cfc9c9;
  }
  .inactive {
    background-color: #90C3D4;
  }
  .has_been_overridden{
    background-color: #E898FF;
  }
}
.checkbox-inline.key_position {
  float: right;
}

table#key {
  td {
    font-size: 13px;
    padding: 5px;
  }
}

table#passengers{
  border: 2px solid #999;
  th.yesno {
    text-align: center;
    padding: 5px 25px 5px 25px;
  }

  th {
    font-size: 20px;
    background: #9385d5;
    padding: 5px 50px 5px 0;
  }

  td {
    font-size: 15px;
    padding: 5px 5px 5px 0;
  }
  td.yes, td.no {
    text-align: center;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
