%h1 Authorize GitHub App

.row
  .col-md-6.offset-md-3
    .alert.alert-danger
      %p The site isn't configured to submit feedback, yet.
      - if @current_user&.admin?
        %p
          To complete the set up,
          = succeed '.' do
            = link_to 'authenticate with GitHub', github_login_url
        %p
          %strong
            Do this using the GitHub user that will be submitting new issues.
    = link_to 'Back', feedback_index_path

