Dear #{@passenger.name},
\
= yield
\------------------------------------------------------------------------------
\
This is an automated email related to your UMass Amherst Transit Account.
For more information, call us at (413)545-2086, email us at stspv@umass.edu,
or visit our website at https://www.umass.edu/transportation/special-transportation
